

@font-face {
  font-family: "IRANSANS";
  src: url(../font/IRANSANSE.ttf) ;


}
*{
  font-family: IRANSANS;

 
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;


  
 

 
 
 
}




option {
  color: black;
}

